<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
    <appSettings>
        <add key="ConnectionString" value="server=sdm225894684.my3w.com;Uid=sdm225894684;Pwd=z20080402;Database=sdm225894684_db;charset=utf8" />
        <add key="PageTitle" value="上海跃动文化传播有限公司"/>
        <add key="Keywords" value="上海跃动文化传播有限公司"/>
        <add key="Description" value="上海跃动文化传播有限公司"/>
        <add key="EmailAcount" value="q82100735@126.com" />
        <add key="EmailPassword" value="z20080402" />
        <add key="EmailSMTP" value="smtp.126.com" />
        <add key="EmailPort" value="25" />
        <add key="EmailTo" value="q82100735@126.com" />
        <!--
        ##############SDK配置文件（证书方式签名）################
        # 说明：
        # 1. 使用时请删除后缀的“.证书”，并将此文件替换原来的Web.config。
        # 2. 具体配置项请根据注释修改。
        #########################################################
        -->

        <!-- 签名证书路径，证书位于assets/测试环境证书/文件夹下，请复制到d:/certs文件夹 f:/usr/LocalUser/syw3436760001  d:/wwwroot/Site_0044644 -->
        <add key="acpsdk.signCert.path" value="f:/usr/LocalUser/syw3436760001/UnionPay/certs/acp_test_sign.pfx" />
        <!-- 签名证书密码，测试证书默认000000 -->
        <add key="acpsdk.signCert.pwd" value="000000" />
        <!-- 加密证书路径 -->
        <add key="acpsdk.encryptCert.path" value="f:/usr/LocalUser/syw3436760001/UnionPay/certs/acp_test_enc.cer" />
        <!-- 验签中级证书路径 -->
        <add key="acpsdk.middleCert.path" value="f:/usr/LocalUser/syw3436760001/UnionPay/certs/acp_test_middle.cer" />
        <!-- 验签根证书路径 -->
        <add key="acpsdk.rootCert.path" value="f:/usr/LocalUser/syw3436760001/UnionPay/certs/acp_test_root.cer" />

        <!-- 签名方式，证书方式固定01，请勿改动。 -->
        <add key="acpsdk.signMethod" value="01" />
        <!-- 报文版本号，固定5.1.0，请勿改动。。 -->
        <add key="acpsdk.version" value="5.1.0" />

        <!-- 是否验证https证书，测试环境请设置false，生产环境建议优先尝试true，不行再false。非true的值默认都当false处理 -->
        <add key="acpsdk.ifValidateRemoteCert" value="false" />
        <!-- 是否验证验签证书的CN，测试环境请设置false，生产环境请设置true。非false的值默认都当true处理 -->
        <add key="acpsdk.ifValidateCNName" value="false" />

        <!-- 前台通知地址，填写接收银联前台通知的地址 -->
        <add key="acpsdk.frontUrl" value="http://localhost:8080/demo/api_01_gateway/FrontRcvResponse.aspx" />
        <!-- 后台通知地址，填写后台接收银联后台通知的地址，必须外网能访问 -->
        <add key="acpsdk.backUrl" value="http://222.222.222.222:8080/demo/api_01_gateway/BackRcvResponse.aspx" />

        <!--########################## 测试环境地址（生产环境地址见assets文件夹下面的生产环境配置文件） #############################-->
        <!-- 前台交易地址 -->
        <add key="acpsdk.frontTransUrl" value="https://gateway.test.95516.com/gateway/api/frontTransReq.do" />
        <!-- 后台交易地址 -->
        <add key="acpsdk.backTransUrl" value="https://gateway.test.95516.com/gateway/api/backTransReq.do" />
        <!-- 交易状态查询地址 -->
        <add key="acpsdk.singleQueryUrl" value="https://gateway.test.95516.com/gateway/api/queryTrans.do" />
        <!-- 文件传输类交易地址 -->
        <add key="acpsdk.fileTransUrl" value="https://filedownload.test.95516.com/" />
        <!-- 批量交易地址 -->
        <add key="acpsdk.batTransUrl" value="https://gateway.test.95516.com/gateway/api/batchTrans.do" />
        <!-- 有卡交易地址 -->
        <add key="acpsdk.cardRequestUrl" value="https://gateway.test.95516.com/gateway/api/cardTransReq.do" />
        <!-- app交易地址 手机控件支付使用该地址-->
        <add key="acpsdk.appRequestUrl" value="https://gateway.test.95516.com/gateway/api/appTransReq.do" />

        <!-- 前台交易地址 -->
        <add key="acpsdk.jf.frontTransUrl" value="https://gateway.test.95516.com/jiaofei/api/frontTransReq.do" />
        <!-- 后台交易地址 -->
        <add key="acpsdk.jf.backTransUrl" value="https://gateway.test.95516.com/jiaofei/api/backTransReq.do" />
        <!-- 交易状态查询地址 -->
        <add key="acpsdk.jf.singleQueryUrl" value="https://gateway.test.95516.com/jiaofei/api/queryTrans.do" />
        <!-- 有卡交易地址 -->
        <add key="acpsdk.jf.cardRequestUrl" value="https://gateway.test.95516.com/jiaofei/api/cardTransReq.do" />
        <!-- app交易地址 手机控件支付使用该地址-->
        <add key="acpsdk.jf.appRequestUrl" value="https://gateway.test.95516.com/jiaofei/api/appTransReq.do" />


        <!--##########################log4net配置#############################-->
        <!-- <add key="log4net.Config" value="log4net.config"/>
        <add key="log4net.Config.Watch" value="True"/> -->
    </appSettings>
    <connectionStrings />
    <!--重写规则-->
    <!-- <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule1" stopProcessing="true">
                     <match url="^article/([0-9]+)/([_0-9a-z-]+)" />
                     <action type="Rewrite" url="index.aspx?id={R:1}&amp;title={R:2}" />
                </rule>
                <rule name="rule1" stopProcessing="true">
                    <match url="^index.html" />
                    <action type="Rewrite" url="index.aspx"  />
                </rule>
                <rule name="rule2" stopProcessing="true">
                    <match url="^about.html" />
                    <action type="Rewrite" url="about.aspx"  />
                </rule>
                <rule name="rule3" stopProcessing="true">
                    <match url="^about_([0-9]+).html" />
                    <action type="Rewrite" url="about.aspx?TypeId={R:1}"  />
                </rule>
                <rule name="rule4" stopProcessing="true">
                    <match url="^hotNews.html" />
                    <action type="Rewrite" url="hotNews.aspx"  />
                </rule>
                <rule name="rule5" stopProcessing="true">
                    <match url="^news.html" />
                    <action type="Rewrite" url="news.aspx"  />
                </rule>
                <rule name="rule6" stopProcessing="true">
                    <match url="^news_([0-9]+).html" />
                    <action type="Rewrite" url="news.aspx?TypeId={R:1}"  />
                </rule>
                <rule name="rule7" stopProcessing="true">
                    <match url="^newsView_([0-9]+)_([0-9]+).html" />
                    <action type="Rewrite" url="newsView.aspx?TypeId={R:1}&amp;Id={R:2}"  />
                </rule>
                <rule name="rule8" stopProcessing="true">
                    <match url="^products.html" />
                    <action type="Rewrite" url="products.aspx"  />
                </rule>
                <rule name="rule9" stopProcessing="true">
                    <match url="^products_([0-9]+).html" />
                    <action type="Rewrite" url="products.aspx?TypeId={R:1}"  />
                </rule>
                <rule name="rule10" stopProcessing="true">
                    <match url="^products([0-9]+).html" />
                    <action type="Rewrite" url="products.aspx?configId={R:1}"  />
                </rule>
                <rule name="rule11" stopProcessing="true">
                    <match url="^productView_([0-9]+)_([0-9]+).html" />
                    <action type="Rewrite" url="productView.aspx?TypeId={R:1}&amp;Id={R:2}"  />
                </rule>
                <rule name="rule12" stopProcessing="true">
                    <match url="^customProduct.html" />
                    <action type="Rewrite" url="customProduct.aspx"  />
                </rule>
                <rule name="rule13" stopProcessing="true">
                    <match url="^customProduct_([0-9]+).html" />
                    <action type="Rewrite" url="customProduct.aspx?TypeId={R:1}"  />
                </rule>
                <rule name="rule14" stopProcessing="true">
                    <match url="^customView_([0-9]+)_([0-9]+).html" />
                    <action type="Rewrite" url="customView.aspx?TypeId={R:1}&amp;Id={R:2}"  />
                </rule>
                <rule name="rule15" stopProcessing="true">
                    <match url="^HR.html" />
                    <action type="Rewrite" url="HR.aspx"  />
                </rule>
                <rule name="rule16" stopProcessing="true">
                    <match url="^HR_([0-9]+).html" />
                    <action type="Rewrite" url="HR.aspx?TypeId={R:1}"  />
                </rule>
                <rule name="rule17" stopProcessing="true">
                    <match url="^contact.html" />
                    <action type="Rewrite" url="contact.aspx"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer> -->
    <system.web>
        <!-- 
            设置 compilation debug="true" 可将调试符号插入到
            已编译的页面。由于这会
            影响性能，因此请仅在开发过程中将此值
            设置为 true。
        -->
        <compilation debug="true">

        </compilation>
        <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
        <authentication mode="Windows" />
        <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	   <customErrors mode="Off"/>
    </system.web>
</configuration>
